[submodule "devices"]
	path = devices
	url = https://github.com/st1vms/vetta-devices.git
	branch = master
[submodule "android"]
	path = android
	url = https://github.com/st1vms/vetta-android.git
	branch = master
[submodule "dynamic-bits"]
	path = dynamic-bits
	url = https://github.com/st1vms/dynamic-bits.git
	branch = master
